:root {
    --background-color: #C5C6C7;
    --second-background_color: #333;
}

/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--background-color);
}

/* Body styling */
body {
    font-family: Arial, sans-serif;
    color: #333;
    padding: 20px;
}

button {
    box-shadow: none;
    border: none;
    font-size: 16px;
}

h1 {
    text-align: center;
}
h2 {
    border-color: white;
    display: inline-block;
}
ul {
    list-style: none;
}

button[type="submit"]:hover {
    background-color: var(--background-color);
}

button[type="submit"]:active {
    transform: scale(0.98);
}

/************************************************/
/*             Nav Bar stuff                    */
/************************************************/
.navbar {
    margin: 10px;
    padding: 10px;
}
.navbar * {
    background-color: var(--second-background_color);   /* navbar background */
    padding: 10px 20px;
    border-radius: 30px;
}
.navbar li {
    padding: 15px;
}
.navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}
.navbar button {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 12px;
    transition: background 0.3s;
}
.navbar button:hover {
    background-color: #555;
    border-radius: 30px;
}



/************************************************/
/*               generic classes                */
/************************************************/
.non_bullet {
    list-style: none;
}
.white_line {
    border: none;
    display: block;
    border-top: 2px solid white;
    border-radius: 0px;
    width: 100%;
    margin-left: 0;
}
.grid_container {
    padding: 100px;
    margin: 100px;
}

/************************************************/
/*           generic section styles             */
/************************************************/
.section_nav {
    margin-top: -20px;
    display: block;
}
.section_body {
    color: white;
    display: block;
}
.section_body *:not(hr) {
    border: 5px;
    background-color: var(--second-background_color);
    color: white;
    border-radius: 30px;
    padding: 10px;
    margin: 10px;
    text-align: center;
}
.section_body form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section_body div h3 {
    border: 5px solid;
    border-color: white;
    display: inline-block;
}
.section_body form div {
    padding: 0px;
    margin: 0px;
}
.section_body form div * {
    background-color: white;
    border-radius: 5px;
    color: black;
}
.section_body form button {
    border: 5px solid;
    border-color: white;
    display: inline-block;
}
.section_body div form div div:not(.cow_medication_box) {
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.section_body div form div div input{
    display: block;
    border: 2px solid;
}


/************************************************/
/*             cow section styles               */
/************************************************/
#cow_nav {
    margin-top: -20px;
    display: block;
}
#cow_body {
    color: white;
    display: block;
}
#cow_default_tab {
    display: block;
}
#cow_list {
    padding-left: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 5 equal columns */
    gap: 10px; 
}
#cow_totals ul {
    display: flex;
    justify-content: space-around;
}
.cow_section {
    display: none;
}
.cow_medication_box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}
.cow_medication_box label {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #f4f4f4;
    padding: 6px 10px;
    border-radius: 6px;
    cursor: pointer;
}

/************************************************/
/*           medicine section stuff             */
/************************************************/
#medicine_nav {
    display: none;
}
#medicine_body {
    color: white;
    display: block;
}
#medicine_default_tab {
    display: none;
}
.medicine_section {
    display: none;
}

/************************************************/
/*            auction section stuff             */
/************************************************/
#auction_nav {
    margin-top: -20px;
}
#auction {
    display: none;
}
